:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --background-primary-color: #ffffff;
  --customers-color: #8e8f99;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--background-primary-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ======= HEADER ======= */

.header {
  border-bottom: 1px solid e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
}

.page-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.logo-header {
  color: var(--secondary-text-color);
}

.site-nav {
  display: flex;
  gap: 40px;
}

.site-nav-link {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.site-nav .link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #404bbf;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address {
  font-style: normal;
  margin-left: auto;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-contact .link {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.nav-contact .link:hover,
.nav-contact .link:focus {
  color: #404bbf;
}

/* ======= /HEADER ======= */

/* ======= HERO ======= */

.hero {
  margin-left: auto;
  margin-right: auto;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  background-color: var(--secondary-text-color);
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
  margin-bottom: 48px;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
  color: var(--background-primary-color);
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  min-width: 169px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: var(--background-primary-color);
  background-color: var(--accent-color);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* ======= SECTION ======= */

.visually-hiddeen {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-item {
  display: flex;
  gap: 24px;
}

.section-title {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}

.feature-list {
  padding-top: 120px;
  display: flex;
  gap: 24px;
}

.feature-item {
  width: calc((100% - 72px) / 4);
}

.feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  background: #f4f4fd;
}

.section-subject {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--secondary-text-color);
}

.section-subtitle {
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--primary-text-color);
}

.container-team {
  padding-top: 120px;
}

.team {
  background-color: #f4f4fd;
}

.team-item {
  display: flex;
  gap: 24px;
}

.team-list {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.section-list {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #e7e9fc;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--accent-color);
  fill: #f4f4fd;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

/* ======= CUSTOMERS ======= */

.customers-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.customers-item {
  width: 168px;
  height: 88px;
}

.customers-link {
  border-radius: 4px;
  border: 1px solid var(--customers-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: var(--customers-color);
}

.customers-link:hover,
.customers-link:focus {
  fill: #404bbf;
  border: 1px solid #404bbf;
}

.customers-icon {
  fill: var(--customers-color);
}

.customers-icon:hover,
.customers-icon:focus {
  fill: #404bbf;
}

/* ======= SITE FOOTER =======*/

.footer {
  padding: 100px 0;
  background-color: var(--secondary-text-color);
}

.footer-list {
  display: flex;
  align-items: baseline;
}

.page-footer {
  width: 264px;
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-footer {
  color: #f4f4fd;
}

.footer-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #f4f4fd;
}

.footer-social-text {
  margin-bottom: 16px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--background-primary-color);
}

.footer-social {
  display: inline-block;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--accent-color);
  fill: #f4f4fd;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

/* ======= PORTFOLIO ======= */

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.btn {
  display: block;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background: #f4f4fd;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  color: var(--accent-color);
}

.btn:hover,
.btn:focus {
  border: 1px solid transparent;
  color: var(--background-primary-color);
  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.work-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.photo-item {
  display: block;
  width: calc((100% - 48px) / 3);
}

.photo-link {
  display: block;
}

.photo-link:hover,
.photo-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
