:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --background-primary-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--background-primary-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-top: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ======= HEADER ======= */

.page-header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-nav {
  display: flex;
}

.header-logo {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-left: 156px;
  color: var(--accent-color);
}

.logo-header {
  color: var(--secondary-text-color);
}

.site-nav {
  display: flex;
  column-gap: 40px;
}

.site-nav .link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #404bbf;
}

.address-list {
  display: flex;
  column-gap: 40px;
}

.address {
  font-style: normal;
}

.nav-contact .link {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.nav-contact .link:hover,
.nav-contact .link:focus {
  color: #404bbf;
}

/* ======= /HEADER ======= */

/* ======= HERO ======= */

.hero {
  background-color: var(--secondary-text-color);
  text-align: center;
  padding: 188px 0;
  margin-bottom: 120px;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  width: 496px;
  margin-bottom: 48px;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  color: var(--background-primary-color);
}

.button {
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: var(--background-primary-color);
  background-color: var(--accent-color);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* ======= SECTION ======= */

.visually-hiddeen {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-item {
  display: flex;
  padding-bottom: 120px;
  column-gap: 24px;
}

.section-title {
  padding-top: 120px;
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}

.feature-list {
  display: flex;
  column-gap: 24px;
  margin-bottom: 120px;
}

.feature-item {
  max-width: 264px;
}

.section-subject {
  margin-top: 32px;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--secondary-text-color);
}

.section-subtitle {
  margin-bottom: 32px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--primary-text-color);
}

.team {
  background-color: #f4f4fd;
}

.team-item {
  display: flex;
  justify-content: center;
  column-gap: 24px;
}

.section-list {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-bottom: 120px;
  justify-content: center;
  background-color: #ffffff;
}

/* ======= SITE FOOTER =======*/

.page-footer {
  background-color: var(--secondary-text-color);
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-footer {
  color: #f4f4fd;
}

.footer-text {
  width: 264px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #f4f4fd;
}

/* ======= PORTFOLIO ======= */
.btn {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background: #f4f4fd;
  color: var(--accent-color);
}

.btn:hover,
.btn:focus {
  color: #fff;
  background: #404bbf;
}
