:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --background-primary-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--background-primary-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ======= HEADER ======= */

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.logo-header {
  color: var(--secondary-text-color);
}

.site-nav .link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.nav-contact .link {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.nav-contact .link:hover,
.nav-contact .link:focus {
  color: #404bbf;
}

/* ======= /HEADER ======= */

/* ======= HERO ======= */

.hero {
  background-color: var(--secondary-text-color);
}

.hero-title {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  color: var(--background-primary-color);
}

.button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: var(--background-primary-color);
  background-color: var(--accent-color);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.pointer {
  cursor: pointer;
}

/* ======= SECTION ======= */

.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}

.section-subject {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--secondary-text-color);
}

.section-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--primary-text-color);
}

.team {
  background-color: #f4f4fd;
}

.section-list {
  background-color: #ffffff;
}

/* ======= SITE FOOTER =======*/

.page-footer {
  background-color: var(--secondary-text-color);
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-footer {
  color: #f4f4fd;
}

.footer-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #f4f4fd;
}

/* ======= PORTFOLIO ======= */
.btn {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background: #f4f4fd;
  color: var(--accent-color);
}

.btn:hover,
.btn:focus {
  color: #fff;
  background: #404bbf;
}
